doctype html
html
    head
        meta(charset="utf-8")
        title New Tab
        link(rel="stylesheet", href="/assets/icon/weather-icons/css/weather-icons.min.css")
    body
        #widgets-container
